.container{
    display: flex;
    flex-direction: row;    
}

form{
    background-color: aqua;
    display: flex;
    border: 4px solid;
    padding: 2px;
    
}

.button{
    text-decoration: none;
    background-color: aquamarine;
    border: 2px solid;
    border-radius: 4px;
}

.descricao{
    width: 300px;
    background-color: bluef;
}

.valor{
    width: 100px;
    user-select: text;
}

.grupos{
    padding: 5px;
}